*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #C2D4D6;
    font-family: "mundial", sans-serif;;
    font-size: 18px;
}

.container {
    background-color: #FFF6EB;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: 1fr;
    grid-template-areas: 
    "headr"
    "navbar"
    "mainy"
    "footr";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}

header, footer {
    text-align: center;
}

header {
    font-family: "superior-title", serif;
    font-weight: 500;
    font-style: normal; 
    color: #FFF6EB;
    padding-top: 2em;
    margin-bottom: 0em;

    grid-area: headr;
    background: #49696E;
}

footer {
    font-weight: 300;
    padding-top: 3em;
    padding-bottom: 1em;

    grid-area: footr;
}

header h1 {
    margin-bottom: 0em;
}

nav {
    grid-area: navbar;
    background: #49696E;
    margin-top: 0em;
    padding-top: -2em;
}

main {
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    grid-area: mainy;
    margin: auto;
    max-width: 800px;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 40px;
    color: #FFF6EB;
}

nav ul li a:hover {
    color: #49696E;
    background: #C2D4D6;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 12em;
    border-radius: 6em;
}

h1 {
    margin-left: 1em;
    margin-right: 1em;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 500;
    font-style: normal;
    color: #49696E;
    text-align: center;
}

p {
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #49696E;
    text-align: center;
    margin-bottom: -0.5em;
}

@media screen and (max-width: 640px) {
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }

    /* thumbable */
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
    }
}