/* COLORS:
charcoal -- #424B54
silver -- #C5BAAF
platinum -- #E5E0DC

*/

@import url("https://use.typekit.net/uvj0tdy.css");

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 400;
    color: #424B54;  
    background-color: #C5BAAF;
    font-size: 18px;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5 {
    font-family: "superior-title", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1.2em;
    margin-top: 0.4em;
}

p {
    margin-bottom: 0.3em;
}

.container {
    background-color: #E5E0DC;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "headr headr"
    "navbar navbar"
    "sidebar mainy"
    "footr footr";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}

/* skip nav */
.skip-link {
    background: white;
    color: black;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translate(-200%);

}
.skip-link:focus {
    transform: translate(0%);
}
.skip-link {
    /* Same as before */
    transition: transform 0.3s;
}

header, footer {
    text-align: center;
}

header {
    color: white;
    padding-top: 2em;
    margin-bottom: 0em;

    grid-area: headr;
    background: #424B54;
}

footer {
    font-weight: 300;
    padding-top: 3em;
    padding-bottom: 1em;

    grid-area: footr;
}

nav {
    grid-area: navbar;
    background: #424B54;
    margin-top: 0em;
    padding-top: -2em;
}

main {
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    grid-area: mainy;
    margin: auto;
    max-width: 800px;
}

#sidebar {
    grid-area: sidebar;

    padding-top: 2em;
    padding-left: 2em;
    padding-right: 1em;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul a {
    text-decoration: none;
    color: #424B54;
}

header a {
    text-decoration: none;
    color: #E5E0DC;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 40px;
    color: #E5E0DC;
}

nav ul li a:hover {
    color: #E5E0DC;
    font-weight: 800;
    /* background: #236445; */
}

@media screen and (max-width: 640px) {
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }

    /* thumbable */
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
    }
}