@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prata&display=swap');

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}

nav ul, a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Prata", serif;
}